<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kbws.mapper.VideoPlayHistoryMapper">

    <resultMap id="BaseResultMap" type="xyz.kbws.model.entity.VideoPlayHistory">
        <id property="userId" column="userId" jdbcType="VARCHAR"/>
        <id property="videoId" column="videoId" jdbcType="VARCHAR"/>
        <result property="fileIndex" column="fileIndex" jdbcType="INTEGER"/>
        <result property="lastUpdateTime" column="lastUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId
        ,videoId,fileIndex,
        lastUpdateTime
    </sql>

    <sql id="queryCondition">
        1=1
        <if test="query.userId != null">
            and v.userId = #{query.userId}
        </if>
    </sql>

    <select id="selectList" resultType="xyz.kbws.model.entity.VideoPlayHistory">
        select
            v.userId,
            v.videoId,
            v.fileIndex,
            v.lastUpdateTime
        <if test="query.queryVideoInfo">
            , d.cover videoCover, d.name videoName
        </if>
        from videoPlayHistory v
        <if test="query.queryVideoInfo">
            left join video d on d.id = v.videoId
        </if>
        where
        <include refid="queryCondition"/>
        <if test="query.sortField != null">
            order by ${query.sortField} ${query.sortOrder}
        </if>
        <if test="query.pageSize != null">
            LIMIT #{query.pageSize} OFFSET ${(query.current - 1) * query.pageSize}
        </if>
    </select>

    <insert id="insertOrUpdate" parameterType="xyz.kbws.model.entity.VideoPlayHistory">
        INSERT INTO videoPlayHistory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.userId != null">
                userId,
            </if>
            <if test="bean.videoId != null">
                videoId,
            </if>
            <if test="bean.fileIndex != null">
                fileIndex,
            </if>
            <if test="bean.lastUpdateTime != null">
                lastUpdateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.userId!=null">
                #{bean.userId},
            </if>
            <if test="bean.videoId!=null">
                #{bean.videoId},
            </if>
            <if test="bean.fileIndex!=null">
                #{bean.fileIndex},
            </if>
            <if test="bean.lastUpdateTime!=null">
                #{bean.lastUpdateTime},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.userId!=null">
                userId = VALUES(userId),
            </if>
            <if test="bean.videoId!=null">
                videoId = VALUES(videoId),
            </if>
            <if test="bean.fileIndex!=null">
                fileIndex = VALUES(fileIndex),
            </if>
            <if test="bean.lastUpdateTime!=null">
                lastUpdateTime = VALUES(lastUpdateTime),
            </if>
        </trim>
    </insert>
</mapper>
