<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kbws.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="xyz.kbws.model.entity.Category">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="parentCategoryId" column="parentCategoryId" jdbcType="INTEGER"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="background" column="background" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,code,name,
        parentCategoryId,icon,background,
        sort
    </sql>

    <select id="selectMaxSort" resultType="java.lang.Integer">
        select ifnull(max(sort), 0)
        from category
        where parentCategoryId = #{parentCategoryId}
    </select>

    <update id="updateSortBatch">
        <foreach collection="categoryList" separator=";" item="item">
            update category set sort = #{item.sort} where id = #{item.id} and parentCategoryId =
            #{item.parentCategoryId};
        </foreach>
    </update>
</mapper>
